@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.5em;
    background-color: rgb(75, 0, 0);
    color: azure;
}

p {
    color: rgba(240, 255, 255, 0.685);
    font-size: 0.8em;
}

